#
# This is an example of a possible "hosts" cluster (trusted pool) definition
# file. This "hosts" file defines all of the nodes in the storage cluster. The
# deployed-from node, from where the ./install.sh script is run, can be in or
# out of the storage cluster. There is also the concept of a "management node"
# which also can be in or out of the storage cluster. See the --mgmt-node
# install.sh option.
#
# The format of the local "hosts" file is:
#   [ip-address] FQDN-or-simple-hostname [brick-device-path]
#   [ip-address] FQDN-or-simple-hostname [brick-device-path]
#   ...
# where both the ip-address and brick-device-path fields are optional. The only
# required field is the hostname. Note hostnames are expected to be lower-case.
#
# The local "hosts" file can be used in a DNS environment (in which case an ip
# address is omitted), or with /etc/hosts (in which case an ip address and
# hostname are supplied). If an ip address is used then the associated hostname
# is required, and /etc/hosts will be updated with all of the ip and hosts
# defined in this file. If DNS is being used (i.e. the absence of an ip address
# field) then /etc/hosts is not touched.
#
# Brick devices (e.g. /dev/sdb) are supported, one per entry, but should only
# be needed in cases where different nodes in the cluster have different xfs
# block device paths. The block device is used only to create a PV in an LVM 
# environment. Once a logical volume (LV) is created the brick-device is no
# longer used and reference to the brick is via /dev/<VGName>/<LVName>.
#
# The order of the entries in the hosts file reflect how Gluster builds the 
# volume. The examples below are for a 4 node cluster where files will be both
# distributed and replicated. The order you specify the entries determines how
# they will be replicated, so in the examples below, the first 2 systems will
# be mirrors of each other, and the second 2 systems will be mirrors of each
# other. Files will be evenly distributed across these mirror pairs.
#
# Examples:
#
# Using /etc/hosts:
192.168.122.51 hostname-1
192.168.122.52 hostname-2
192.168.122.53 hostname-3
192.168.122.54 hostname-4
#
# Using DNS:
hostname-1
hostname-2
hostname-3
hostname-4
#
# Using DNS and bricks:
hostname-1 /dev/sdb
hostname-2 /dev/sdb
hostname-3 /dev/vdb
hostname-4 /dev/sba
#
# Using /etc/hosts and bricks:
192.168.122.51 hostname-1 /dev/sdb
192.168.122.52 hostname-2 /dev/sdb
192.168.122.53 hostname-3 /dev/vdb
192.168.122.54 hostname-4 /dev/sba
#
# The above order, combined with a replica count of 2, causes hostname-1 and
# hostname-2 to be replica pairs, and hostname-3 and hostname-4 to be replica
# pairs.
#
# Note: commented lines and blank lines are ignored in the local hosts file.
